.main-parent {
    width: min(90vw, 1920px);
    height: min(90vh, 1080px);
    display: grid;
    grid-template-columns: 365px 1fr;
    grid-template-rows: 60px 1fr 60px;

    margin: 0 auto;

}

.header {
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / 3;
    background-color: var(--secondary-bg-color);
}

.sidebar {
    background-color: var(--secondary-bg-color);
    z-index: 2;
    border-right: 1px var(--primary-border-color) solid;

}

.editor {
    display: grid;
    grid-template-rows: 35px 1fr;
    background-color: var(--primary-bg-color);

}

.footer {
    z-index: 3;
    grid-column: 1 / 3;
    background-color: var(--secondary-bg-color);

}

.main-content {
    overflow-y: auto;
    height: 100%;
}