.main-parent, 
.header, 
.sidebar,
.nav-bar,
.editor,
.main-content,
.tab-bar,
.status-bar 
{
    border: 1px solid;
}

.main-parent{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 58px 1fr 58px;
    height: 100vh;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / 3;
}

.editor{
    display: grid;
    grid-template-rows: 35px 1fr;
}
.status-bar{
    grid-column: 1 / 3;
}