.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    padding: 0 45px 0 45px;
    border-top: 1px var(--primary-border-color) solid;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 10px 0 10px 0;
}

.social-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-text-color);
}

.copyright, .powered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font: var(--footer-font);
    color: var(--primary-text-color);
    font-size: .9rem;
}
