.header {
    border-bottom: var(--neo-border);
}

.header-name {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 5px;
    padding-left: 45px;
}

.header p {
    font: var(--heading-font);
    color: var(--primary-text-color);
    background: var(--neo-white);
    padding: 2px 10px;
    border: var(--neo-border);
}

.header-icon {
    height: 35px;
    width: 35px;
    color: var(--primary-text-color);
}

.green,
.red,
.blue {
    height: 26px;
    width: 26px;
    border: 2px solid var(--neo-black);
}

.green {
    background-color: var(--neo-green);
}

.red {
    background-color: var(--neo-red);
}

.blue {
    background-color: var(--neo-blue);
}

.three-dots {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-right: 45px;
}
