.sidebar {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: var(--neo-white);
    border-right: var(--neo-border-thick);
}

.sidebar .profile {
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px 0 80px 0;
    border-bottom: var(--neo-border);
}

.profile img {
    width: 100px;
    height: 100px;
    margin: 0 0 0 45px;
    border: var(--neo-border);
    box-shadow: var(--neo-shadow-sm);
}

.profile .name-n-bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.profile .name-n-bio h1 {
    margin-left: 15px;
    font: var(--profile-name-font);
    font-weight: 700;
    color: var(--neo-black);
}

.profile .name-n-bio p {
    margin-left: 15px;
    font: var(--profile-bio-font);
    color: var(--neo-black);
}

.profile .name-n-bio span {
    height: 3px;
    width: 100%;
    background-color: var(--neo-black);
}

.explorer {
    width: 100%;
    padding: 0 0 0 55px;
    margin: 30px 0 10px 0;
    font: var(--explorer-font);
    color: var(--neo-black);
}

.nav-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 35px 0 0 0;
    font: var(--navbar-font);
    color: var(--neo-black);
    overflow-y: auto;
}

.nav-bar ul {
    list-style: none;
}

.folder-btn {
    all: unset;

    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;

    padding: 10px 0 10px 50px;
    cursor: pointer;
    transition: background 0.1s ease;
}

.folder-btn:hover {
    background: var(--neo-yellow);
    color: var(--neo-black);
    border-left: var(--neo-border);
    padding-left: 47px;
}

.folder-btn:hover .icon,
.folder-btn:hover .chevron {
    color: var(--neo-black);
}

.nav-bar a {
    display: block;
    padding: 10px 0 10px 90px;
    text-decoration: none;
    transition: background 0.1s ease;
}

.nav-bar a:hover {
    background: var(--neo-yellow);
    color: var(--neo-black);
    border-left: var(--neo-border);
    padding-left: 87px;
}

.nav-bar a:hover .icon {
    color: var(--neo-black);
}

.project-category a {
    padding-left: 145px;
    padding-right: 0;
}

.project-category a:hover {
    padding-left: 142px;
}

.menu-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.icon,
.chevron {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    color: var(--neo-black);
}

.project-category {
    max-height: 0;
    overflow: hidden;
    opacity: 0;

    transition:
        max-height .19s ease,
        opacity .19s ease;
}

.folder.show .project-category {
    max-height: 300px;
    opacity: 1;
}

.chevron {
    transition: transform .19s ease;
}

.folder.show .chevron {
    transform: rotate(90deg);
}
