.grid-glow-container {
    position: relative;
    overflow: hidden;
    isolation: isolate;
}

.grid-trail-box {
    position: absolute;
    width: 89px; 
    height: 89px;
    background-color: var(--neo-black); 
    
    z-index: -1;
    pointer-events: none;
    
    animation: fadeOutBox 0.8s ease-out forwards;
}

@keyframes fadeOutBox {
    0% { 
        opacity: 1; 
        transform: scale(1); 
    }
    100% { 
        opacity: 0; 
        transform: scale(.3); }}