:root{
    --primary-bg-color: #1d2021;

    --secondary-bg-color: #282828;

    --primary-border-color: #665c54;

    --primary-text-color: #fbf1c7;

    --primary-heading-color: #fe8019;

    --primary-social-color: #83a598;
}