:root {
    --canvas-color: #f9f5d7;
    --primary-bg-color: #fbf1c7;
    --secondary-bg-color: #ebdbb2;

    --primary-border-color: #bdae93;
    --secondary-border-color: #d65d0e;

    --primary-text-color: #282828;
    --secondary-text-color: #d79921;

    --primary-heading-color: #d65d0e;
    --secondary-heading-color: #fe8019;
    --tertiary-heading-color: #98971a;


    --primary-social-color: #83a598;
}