.header{
    border-bottom: 1px solid;
}
.header p{
    font: var(--heading-font);
    padding: 0 0 0 45px;
}

.green,
.red,
.blue {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.green {
    background-color: rgb(80, 255, 80);
}

.red {
    background-color: rgb(255, 68, 68);
}

.blue {
    background-color: cyan;
}

.three-dots {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-right: 45px;
}
