.header{
    border-bottom: 1px solid;
}
.header-name{
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: flex-start;
    gap: 5px;
    padding-left: 45px;
    /* border: 1px solid; */
}
.header p{
    font: var(--heading-font);
}
.header-icon{
    height: 35px;
    width: 35px;
}
.green,
.red,
.blue {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.green {
    background-color: rgb(80, 255, 80);
}

.red {
    background-color: rgb(255, 68, 68);
}

.blue {
    background-color: cyan;
}

.three-dots {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-right: 45px;
}
