.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;

  border-right: 1px solid;
}

.sidebar .profile {
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 0 0 40px;
}

.profile .name-n-bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 0 15px 0 15px;

}
.profile .name-n-bio h1 {
  font: var(--profile-name-font);
}

.profile .name-n-bio p {
  font: var(--profile-bio-font);
}

.explorer {
  width: 100%;
  padding: 0 0 0 45px;
  margin: 10% 0 0 0;
  font: var(--explorer-font);
}

.nav-bar {
  width: 100%;
  font: var(--navbar-font);
  /* color: #fbf1c7; */
}

.nav-bar ul {
  list-style: none;
}

.folder-btn {
  all: unset;

  display: block;
  width: 100%;
  box-sizing: border-box;

  padding: 13px 0 13px 35px;
  cursor: pointer;
}

.nav-bar a {
  display: block;
  padding: 13px 0 13px 65px;
  text-decoration: none;
}

.project-category a {
  padding-left: 105px;
  /* background-color: #f0f0f0; */
}

.icon, .chevron {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    color: #000000;
}
